@require '_variables'
@require '_mixins'
@require 'application'

.desktop
  position relative
  .application
    opacity 0
    transform('scale(0)')
    transition(all, $animation-duration)
    &.application-maximized
      opacity 1
      // box-shadow $application-box-shadow-intensity $application-box-shadow-color
      transform('scale(1)')
