@require '_variables'
@require 'cursor'

.website-command-line-prompt-string
  float left
  margin-right 10px
  color $color-blue

.website-command-line-text
  height $cursor-height
  color $color-lightest
