@import '_variables'
@import '_mixins'

$website-application-action-size = 8px
$website-application-box-shadow-intensity = 12px 18px 48px 0
$website-application-box-shadow-color = alpha($color-darkest, .6)

.website-application .application
  background-color $color-lightest
  font-family 'Helvetica', 'Arial', sans-serif
  color #111
  border-radius(16px)

.website-application
  // box-shadow 0px 8px 8px rgba(0, 0, 0, 0.2)
  // overflow hidden
  position relative

.website-application-topbar
  position relative
  z-index 1
  padding 10px 20px
  clearfix()
  box-sizing(border-box)

.website-application-actions-container
  position absolute
  z-index 1
  top 50%
  transform('translateY(-50%)')

.website-application-actions-container,
.website-application-action
  float left

.website-application-action
  width $website-application-action-size
  height $website-application-action-size
  border-radius(50%)
  &.website-application-action-close
    background-color $color-red
  &.website-application-action-minimize
    background-color $color-yellow
  &.website-application-action-maximize
    background-color $color-green
  & + .website-application-action
    margin-left 6px

.website-application-title-container
  padding-left 55px
  font-size $font-size-xxs
  text-align center
  line-height $font-size-lg
  white-space nowrap
  letter-spacing .5px
  position relative
  z-index 1

.website-application-title
  color #808080
  border 1px solid #E5E5E5
  padding 1px 26px 1px 8px
  overflow hidden
  text-overflow ellipsis
  box-sizing border-box
  border-radius 16px

.website-application-refresh
  position absolute
  top 50%
  margin-top -6px
  right 12px

.website-application-content-container
  overflow auto

.website-application-line
  position relative
  padding 0 20px
  min-height $font-size-xl
  font-size $font-size-xs
  line-height $font-size-xl
  font-family monospace
  clearfix()
