<div class="website-application" data-application>
  <div class="website-application-topbar">
    <div class="website-application-actions-container">
      <div class="website-application-action website-application-action-close"></div>
      <div class="website-application-action website-application-action-minimize"></div>
      <div class="website-application-action website-application-action-maximize"></div>
    </div>
    <div class="website-application-title-container" data-title-container></div>
  </div>
  <div class="website-application-content-container" data-content-container></div>
</div>
